                <option value=2021-92>2021  Fall Quarter</option>
                <option value=2021-8F>2021  Fall Semester (Law)</option>
                <option value=2021-76>2021  Summer Session 2</option>
                <option value=2021-51>2021  Summer Qtr (COM)</option>
                <option value=2021-39>2021  10-wk Summer</option>
                <option value=2021-25>2021  Summer Session 1</option>
                <option value=2021-14>2021  Spring Quarter</option>
                <option value=2021-03>2021  Winter Quarter</option>
                <option value=2020-92>2020  Fall Quarter</option>
                <option value=2020-76>2020  Summer Session 2</option>
                <option value=2020-51>2020  Summer Qtr (COM)</option>
                <option value=2020-39>2020  10-wk Summer</option>
                <option value=2020-25>2020  Summer Session 1</option>
                <option value=2020-14>2020  Spring Quarter</option>
                <option value=2020-03>2020  Winter Quarter</option>
                <option value=2019-92>2019  Fall Quarter</option>
                <option value=2019-76>2019  Summer Session 2</option>
                <option value=2019-51>2019  Summer Qtr (COM)</option>
                <option value=2019-39>2019  10-wk Summer</option>
                <option value=2019-25>2019  Summer Session 1</option>
                <option value=2019-14>2019  Spring Quarter</option>
                <option value=2019-03>2019  Winter Quarter</option>
                <option value=2018-92>2018  Fall Quarter</option>
                <option value=2018-76>2018  Summer Session 2</option>
                <option value=2018-51>2018  Summer Qtr (COM)</option>
                <option value=2018-39>2018  10-wk Summer</option>
                <option value=2018-25>2018  Summer Session 1</option>
                <option value=2018-14>2018  Spring Quarter</option>
                <option value=2018-03>2018  Winter Quarter</option>
                <option value=2017-92>2017  Fall Quarter</option>
                <option value=2017-76>2017  Summer Session 2</option>
                <option value=2017-51>2017  Summer Qtr (COM)</option>
                <option value=2017-39>2017  10-wk Summer</option>
                <option value=2017-25>2017  Summer Session 1</option>
                <option value=2017-14>2017  Spring Quarter</option>
                <option value=2017-03>2017  Winter Quarter</option>
                <option value=2016-92>2016  Fall Quarter</option>
                <option value=2016-76>2016  Summer Session 2</option>
                <option value=2016-51>2016  Summer Qtr (COM)</option>
                <option value=2016-39>2016  10-wk Summer</option>
                <option value=2016-25>2016  Summer Session 1</option>
                <option value=2016-14>2016  Spring Quarter</option>
                <option value=2016-03>2016  Winter Quarter</option>