<!DOCTYPE html>

<html lang="en">

<%- include("partials/infoHeader") -%>

<body>
<%- include("partials/navbar") -%>
  <section id="information">
    <div class="container-fluid">
      <h1 class="heading">About This Website</h1>

      <div class="text-section">
        <h4>Features</h4>
        <hr>
        <ul>
          <li>Get detailed enrollment statistics for any UCI course from 2016 to the present:
            <ul>
              <li>Number of enrolled students</li>
              <li>Max number of students</li>
              <li>Number of students who requested to register</li>
              <li>Number of students in the waitlist</li>
              <li>Number of spots reserved for incoming freshmen/transfers</li>
              <li>Course status (Open, Full, Waitlist, New Only)</li>
            </ul>
          </li>
          <li>Filter your searches based on instructor and/or course type</li>
          <li>Detailed enrollment data for any type of UCI course (lectures, labs, discussions, etc.)</li>
          <li>View enrollment data with organized graphs and tables</li>
          <li>A search history menu that allows you to easily see the enrollment data of courses 
            you searched before
          </li>
          <li>View other quarters that offer a specific course</li>
        </ul>
      </div>

      <div class="text-section">
        <h4>What is the purpose of this website?</h4>
        <hr>
        <p>The purpose of this website is to help you plan out your schedule for future quarters! 
          Many courses (especially general education courses and courses required for popular majors) 
          fill up quickly, so it is nice to know when these classes have filled up in previous quarters.
          If a class is consistently popular, be sure to search for backup courses that do not
          fill up as easily. Overall, this website can help you determine the popularity of certain courses
          and instructors.
        </p>
      </div>

      <div class="text-section">
        <h4>How do I use this website?</h4>
        <hr>
        <ol>
          <li>Choose <b>one specific course</b> (e.g. WRITING 39C in Fall 2021). Here are some ways to select a course:
            <ul>
              <li>Select a <b>Department</b>, <b>Course Number</b>, and <b>Quarter</b>.
                <ul>
                  <li>If you want to narrow down your search, you can add an <b>Instructor</b>
                    and/or <b>Course Type</b> (the default is all course types).
                  </li>
                </ul>
              </li>
              <li>If you only want to see one specific section of a course, you can just enter a <b>Course Code</b> 
                and <b>Quarter</b>.
              </li>
              <li>Type a <b>Course Title</b> from WebSoc, and select a <b>Quarter</b>.</li>
              <ul>
                <li>If you want to narrow down your search, you can add an <b>Instructor</b> and/or <b>Course Type</b> 
                  (the default is all course types).
                </li>
              </ul>
            </ul>
          </li>
          <li>When you're ready, click the <b>Submit</b> button. If you want to clear your whole search, press the 
            <b>Reset</b> button.
          </li>
          <li>You will be directed to the enrollment data; to switch between tabs, click the <b>Graphs</b>, <b>Tables</b>,
            or <b>Quarters</b> buttons below the name of the course.
          </li>
          <li>To open/close graphs and tables, click the appropriate blue button on the right.</li>
          <li>To see the enrollment data of a course you searched before, click the <b>History</b> button 
            and then click the appropriate course.
          </li>
        </ol>
      </div>
      
      <div class="text-section">
        <h4>What are the Graphs, Tables, and Quarters tabs?</h4>
        <hr>
        <ul>
          <li>The <b>Graphs</b> tab uses line graphs to show the change in enrolled, max, and waitlist students.</li>
          <li>The <b>Tables</b> tab uses tables to show the enrolled, max, waitlist (if available), requested, 
            and nor (if available) students; the course status (if available) will also be recorded.
          </li>
          <li>The <b>Quarters</b> tab will show you the other quarters that satisfy your search. 
            For example, if you are looking for a WRITING 39C course with a specific instructor, 
            this tab will show you the other quarters where WRITING 39C is offered with that instructor.
          </li>
        </ul>
      </div>

      <div class="text-section">
        <h4>What quarters are currently being tracked?</h4>
        <hr>
        <p>Currently, 2021 Fall Quarter is being regularly updated.</p>
      </div>

      <div class="text-section">
        <h4>How much data is there?</h4>
        <hr>
        <p>I started collecting data in the end of July 2021, which means 2021 Summer Session 2
          and 2021 Fall Quarter are the earliest quarters that have a substantial amount of enrollment data. 
          Unfortunately, I don't know of a way to get the enrollment data of previous quarters; if
          anyone has data or a way to get this data, feel free to use the 
          <a class="link" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScVRtgJ23liB7QXkM_m58wd7xhIiW7SNYga_GNPOClYgM-8Ow/viewform?usp=sf_link">
          feedback form</a> and inform me!
        </p>
      </div>

      <div class="text-section">
        <h4>How often is data collected?</h4>
        <hr>
        <p>I collect data daily (normally in the morning). I will start collecting data for a certain quarter 
          on the first day students can enroll in that quarter's classes. I will stop collecting data for a certain
          quarter on the last day students are able to freely register on WebReg.
        </p>
      </div>
    </div>
  </section>

  <!-- Bootstrap Bundle w/ Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>