<!DOCTYPE html>

<html lang="en">
  <%- include("partials/infoHeader") -%>

  <body>
    <%- include("partials/navbar") -%>

    <div class="text-center" style="margin-top: 50px">
      <p>
        There are no announcements yet! This website still needs more data to be
        officially released!
      </p>
    </div>

    <!-- Bootstrap Bundle w/ Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
