<!DOCTYPE html>

<html lang="en">
  <%- include("partials/infoHeader") -%>

  <body>
    <%- include("partials/navbar") -%>

    <div class="container-fluid">
      <h1 class="heading">Announcements</h1>

      <div class="text-section">
        <h4>Sep 5, 2022</h4>
        <hr />
        <p>Happy Summer! ZotTracker has a new feature!</p>
        <br />
        <p>
          For each table in the <b>Tables</b> tab, you can now set time intervals. For example, you can decide to see
          the data for each day, week, or month. This can be helpful if you just want to get a broader sense of the
          enrollment data. This change also reduces clutter and your scroll time! To adjust these time intervals, click
          the arrow next to the <b>Date</b> column.
        </p>
        <br />
        <p>
          If you have any particular comments about this feature, please visit the
          <a class="link" target="_blank" href="feedback">Feedback</a> page!
        </p>
      </div>

      <div class="text-section">
        <h4>Aug 25, 2022</h4>
        <hr />
        <p>
          All 2022 summer sessions will no longer be tracked since the open enrollment period is over. The next quarter
          to be tracked is Winter 2023; the tracking will begin Nov 15, 2022. Currently, Fall 2022 is still being
          tracked.
        </p>
      </div>

      <div class="text-section">
        <h4>May 17, 2022</h4>
        <hr />
        <p>
          Fall 2022 will start to get tracked. Enrollment data for all Fall 2022 courses will be updated on a daily
          basis.
        </p>
      </div>

      <div class="text-section">
        <h4>Apr 9, 2022</h4>
        <hr />
        <p>
          Spring 2022 will no longer be tracked since the open enrollment period is over. The next quarter to be tracked
          is Fall 2022; the tracking will begin May 17, 2022. Currently, all 2022 summer sessions are still being
          tracked.
        </p>
      </div>

      <div class="text-section">
        <h4>Mar 10, 2022</h4>
        <hr />
        <p>
          All 2022 summer sessions (SS1, 10-wk Summer, and SS2) will start to get tracked. Enrollment data for all
          summer session courses will be updated on a weekly basis since these courses often have less demand and are
          smaller. Currently, Spring 2022 and all 2022 summer sessions are being tracked.
        </p>
      </div>

      <div class="text-section">
        <h4>Feb 22, 2022</h4>
        <hr />
        <p>
          Spring 2022 will start to get tracked. Enrollment data for all Spring 2022 courses will be updated on a daily
          basis.
        </p>
        <br />
        <p>
          Additionally, you can now omit the <b>Quarter</b> when you search for a course! If you do not fill out the
          quarter, then you will be directed to the most recent quarter that has a complete set of enrollment data. For
          example, if a course was offered in Winter 2022 and Spring 2022, you will be shown the enrollment data for
          Winter 2022 since Spring 2022 is still being tracked.
        </p>
        <br />
        <p>
          If you have any particular comments about this feature, please visit the
          <a class="link" target="_blank" href="feedback">Feedback</a> page!
        </p>
      </div>

      <div class="text-section">
        <h4>Feb 15, 2022</h4>
        <hr />
        <p>
          ZotTracker is now integrated with
          <a class="link" target="_blank" href="https://antalmanac.com/">AntAlmanac</a>! When you search for a course,
          clicking the "Past Enrollment" button will now direct you to ZotTracker!
        </p>
      </div>

      <div class="text-section">
        <h4>Jan 23, 2022</h4>
        <hr />
        <p>
          Winter 2022 will no longer be tracked since the open enrollment period is over. The next quarter to be tracked
          is Spring 2022; the tracking will begin Feb 22, 2022. Currently, there are no quarters being tracked.
        </p>
      </div>

      <div class="text-section">
        <h4>Nov 15, 2021</h4>
        <hr />
        <p>
          Winter 2022 will start to get tracked. Enrollment data for all Winter 2022 courses will be updated on a daily
          basis.
        </p>
      </div>

      <div class="text-section">
        <h4>Oct 18, 2021</h4>
        <hr />
        <p>
          Fall 2021 will no longer be tracked since the open enrollment period is over. The next quarter to be tracked
          is Winter 2022; the tracking will begin Nov 15, 2021. Currently, there are no quarters being tracked.
        </p>
      </div>
    </div>

    <!-- Bootstrap Bundle w/ Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
