<!DOCTYPE html>

<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="author" content="Douglas Hong">
  <meta name="description" content="View the enrollment data of any UCI class!">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ZotTracker</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="css/styles.css">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&display=swap" rel="stylesheet">
</head>

<body>
  <section id="navigation">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand title" href="/">ZotTracker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
          aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav ms-auto my-2">
            <li class="nav-item">
              <a class="nav-link" target="_blank" href="">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" target="_blank" href="">Announcements</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" target="_blank" href="">Feedback</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </section>

  <section id="selection">
    <div class="container-fluid">
      <h1 class="heading">Select a Course</h1>
      <form method="post" id="course-form">
        <div class="row">
          <div class="col-md-6">
            <label for="dept" class="form-label selection-label">Department</label>
            <select class="form-select" id="dept" name="dept">
              <option selected disabled>Choose a Department...</option>
              <%- include("partials/allDepts") -%>
            </select>
          </div>
          <div class="col-md-3">
            <label for="course-num" class="form-label selection-label">Course Number</label>
            <input type="text" class="form-control" id="course-num" name="courseNum" placeholder="139W">
          </div>
          <div class="col-md-3">
            <label for="quarter" class="form-label selection-label">Quarter</label>
            <select class="form-select" id="quarter" name="quarter">
              <option selected disabled>Choose a Quarter...</option>
              <%- include("partials/allQuarters") -%>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <label for="instructor" class="form-label selection-label">Instructor</label>
            <input type="text" class="form-control" id="instructor" name="instructor">
          </div>
          <div class="col-md-3">
            <label for="course-code" class="form-label selection-label">Course Code</label>
            <input type="text" class="form-control" id="course-code" name="courseCode" placeholder="34060">
          </div>
          <div class="col-md-4">
            <label for="course-type" class="form-label selection-label">Course Type</label>
            <select class="form-select" id="course-type" name="courseType">
              <option value="all">All Types</option>
              <option value="LEC">Lecture</option>
              <option value="LAB">Lab</option>
              <option value="DIS">Discussion</option>
              <option value="SEM">Seminar</option>
            </select>
          </div>
        </div>
        <div class="text-center button-row">
          <button type="submit" class="btn btn-primary submit-button text-center">Submit Course</button>
          <button type="reset" class="btn btn-primary reset-button text-center">Reset</button>
        </div>
      </form>
    </div>
  </section>

  <section id="enrollment-data">
  </section>

  <!-- jQuery, Bootstrap Bundle with Popper, Chart.js, and custom scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="scripts/createGraph.js"></script>
</body>

</html>