.container-fluid {
  padding: 0 18%;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-style: italic;
}

.heading {
  font-family: "Montserrat", sans-serif;
  margin-top: 50px;
  text-align: center;
}

.selection-label {
  margin-top: 25px;
}

.bootstrap-select>.dropdown-toggle.bs-placeholder, 
.bootstrap-select>.dropdown-toggle.bs-placeholder:active, 
.bootstrap-select>.dropdown-toggle.bs-placeholder:focus, 
.bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
  color: gray;
}

#quarter option {
  color: black;
}

.select-placeholder {
  color: gray;
}

.button-row {
  margin-top: 40px;
}

.submit-button {
  margin-right: 20px;
}

.history-button {
  margin-left: 20px;
}

.clear-history-button {
  margin-bottom: 25px;
}

.history-item {
  padding: 10px 0 3px 10px;
  cursor: pointer;
}

.history-item:hover {
  background-color: #DCDCDC;
  transition: background-color 0.5s ease;
}

.history-subheading {
  color: gray;
}

.question-icon {
  margin-left: 20px;
  position: relative;
  top: 7px;
}

#enrollment-data {
  margin: 100px auto;
}

.enrollment-heading {
  margin-top: 50px;
  text-align: center;
}

.enrollment-subheading {
  margin-top: 15px;
  color: gray;
  text-align: center;
}

.graph-table-nav {
  margin-top: 15px;
}

.summary-table {
  font-size: 0.8rem;
  margin-top: 30px;
}

.enrollment-table {
  font-size: 0.8rem;
  margin: 0;
}

.table-list p {
  margin: 0;
}

.show-data-button {
  font-size: 0.8rem;
}

.chart-container {
  padding: 0 25%;
  margin-bottom: 60px;
}

.chart {
  border: solid;
  border-color: silver;
  border-radius: 15px;
  border-width: 2px;
}

@media (min-width: 577px) and (max-width: 992px) {
  .container-fluid {
    padding: 0 12%;
  }

  .chart-container {
    padding: 0 16%;
  }

  .summary-table, .enrollment-table, .show-data-button {
    font-size: 0.65rem;
  }
}

@media (max-width: 576px) {
  .container-fluid {
    padding: 0 8%;
  }

  .chart-container {
    padding: 0 6%;
  }

  .summary-table, .enrollment-table, .show-data-button {
    font-size: 0.65rem;
  }

  .submit-button, .reset-button, .history-button {
    font-size: 0.75rem;
  }

  .submit-button {
    margin-right: 10px;
  }

  .history-button {
    margin-left: 10px;
  }
}

.course-status {
  font-weight: bold;
}

.error-message {
  font-size: 1.25rem;
  margin-top: 75px;
  text-align: center;
}

.text-section {
  margin-bottom: 60px;
  margin-top: 35px;
}

.link {
  text-decoration: none;
}

.dropdown-menu {
  width: 500px;
}

.quarter-table {
  margin-top: 25px;
}

.quarter-link {
  text-decoration: none;
  cursor: pointer;
}

.quarter-link:hover {
  text-decoration: underline;
}