.container-fluid {
  padding: 0 18%;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-style: italic;
}

.heading {
  font-family: "Montserrat", sans-serif;
  margin-top: 50px;
  text-align: center;
}

.selection-label {
  margin-top: 25px;
}

#dept option,
#quarter option {
  color: black;
}

.select-placeholder {
  color: gray;
}

.button-row {
  margin-top: 40px;
}

.submit-button {
  margin-right: 25px;
}

.question-icon {
  margin-left: 20px;
  position: relative;
  top: 7px;
}

#enrollment-data {
  margin: 100px auto;
}

.enrollment-heading {
  margin-top: 50px;
  text-align: center;
}

.enrollment-table {
  margin-top: 25px;
  font-size: 0.8rem;
}

.table-list p {
  margin: 0;
}

.show-graph-button {
  font-size: 0.8rem;
}

.graph-container {
  padding: 0 25%;
}

@media (min-width: 577px) and (max-width: 992px) {
  .container-fluid {
    padding: 0 12%;
  }

  .graph-container {
    padding: 0 16%;
  }

  .enrollment-table,
  .show-graph-button {
    font-size: 0.65rem;
  }
}

@media (max-width: 576px) {
  .container-fluid {
    padding: 0 8%;
  }

  .graph-container {
    padding: 0 6%;
  }

  .enrollment-table,
  .show-graph-button {
    font-size: 0.65rem;
  }
}

.error-message {
  font-size: 1.25rem;
  margin-top: 75px;
  text-align: center;
}